<p>Hey There!</p>
<p>
    Congrats!  <b>A comment has been added to your location, <%= @place.name %> on Welp!</b>
    Check it out <%= link_to 'here!', place_url(@place) %>
</p>

Aloha,<br />
Josh