@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap');
@import "font-awesome";

body{
  background: image_url('houndstooth-pattern.png');
  font-family: 'Roboto Condensed', sans-serif;
}

.booyah-box{
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #D3D3D3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
  transition: all .1s ease-in-out;
}
.new-box {
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #D3D3D3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
}
.booyah-box:hover {
  transform: scale(1.05);
}

a {
  color: #787878;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.navbar {
  background: image_url('prism.png');
  box-shadow: 0px 2px 3px grey;
  padding: 0px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.5em;
  margin-left: 15px;
  padding: 0px;
  color: #AFFF5A;
}

.page-buttons {
  padding-top: 20px;
  padding-bottom: 0px;
}
.welp-w {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0px;
}
.dropdown{
  margin-right: 20px;
}

.btn-secondary {
  margin-top: 9px;
  margin-bottom: 8px;
}

.login-dropdown {
  width: 100%;
  margin-bottom: 3px;
  background-color: #E8E8E8;
  color: black;
  border: 1px solid;

}
.btn-primary {
  background-color: #E8E8E8;
  color: black;
  border: 1px solid;
}
.btn-primary:hover {
  background-color: #AFFF5A;
  color: black;
}
.dropdown-menu {
  background:  #303030;
  border: 1px solid;
}
.navbar-toggler {
  margin-top: 10px;
}
.sign-out {
  margin-right: 20px;
}
.sign-out:hover {
  background-color: #AFFF5A;
}
.nav-link {
  font-size: 1.4em;

}



.alert {
  animation: hideMe 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes hideMe {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 0;
  }
}

.page-item.active .page-link {
    background-color: #AFFF5A;
    color: #C0C0C0;
    border-color: black;
}
.page-link {
  color: black;
}
#myModalLabel {
  margin: auto;
}
.modal-content {
  padding-top: 0px;
  text-align: center;
}