@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap');
@import "font-awesome";

body{
  background: image_url('houndstooth-pattern.png');
  font-family: 'Roboto Condensed', sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.navbar {
  background: image_url('prism.png');
  box-shadow: 0px 2px 3px grey;
  padding: 0px;
}

.navbar-inverse .navbar-brand {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.5em;
  margin-left: 15px;
  padding: 0px;
  color: #AFFF5A;
}

.page-buttons {
  padding-top: 20px;
  padding-bottom: 0px;
}
.welp-w {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0px;
}