@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:400,700&display=swap');
@import "font-awesome";

body{

  background: #F0F0F0;
  font-family: 'Roboto Condensed', sans-serif;
}

.booyah-box{
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: white;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.2em;
  transition: all .1s ease-in-out;
  width: 600px;
  max-width: 80%;
  border-radius: 5px;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.new-box {
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: white;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
  overflow: hidden;
  width: 600px;
  max-width: 80%;
}

.comment-box {
  background: white;

  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
  overflow: hidden;
  width: 100%;
  }

.profile-box {
  -moz-box-shadow: 2px 2px 3px 0 #d0d0d0;
  -webkit-box-shadow: 2px 2px 3px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #D3D3D3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 1.2em;
  overflow: hidden;
  width: 800px;
  max-width: 80%;
}
.booyah-box:hover {
  transform: scale(1.05);
}
.comments-box {
  margin-right: 20px;
}

a {
  color: #787878;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.navbar {
  background:#b2b2b2;
  padding: 0px;
}

.navbar-brand {
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.5em;
  margin-left: 15px;
  padding: 0px;
  color: #AFFF5A;
}

.page-buttons {
  padding-top: 20px;
  padding-bottom: 0px;
}
.welp-w {
  font-size: 1.7em;
  font-weight: bold;
  padding: 0px;
}
.dropdown{
  margin-right: 20px;
}

.btn-secondary {
  margin-top: 9px;
  margin-bottom: 8px;
}

.login-dropdown {
  width: 100%;
  margin-bottom: 3px;
  background-color: #E8E8E8;
  color: black;
  border: 1px solid;

}
.btn-primary {
  background-color: #E8E8E8;
  color: black;
  border: 1px solid;
}
.btn-primary:hover {
  background-color: #AFFF5A;
  color: black;
}
.dropdown-menu {
  background:  #303030;
  border: 1px solid;
}
.navbar-toggler {
  margin-top: 10px;
}
.sign-out {
  margin-right: 20px;
}
.sign-out:hover {
  background-color: #AFFF5A;
}
.nav-link {
  font-size: 1.4em;

}



.alert {
  animation: hideMe 5s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes hideMe {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 0;
  }
}

.page-item.active .page-link {
    background-color: #AFFF5A;
    color: #C0C0C0;
    border-color: black;
}
.page-link {
  color: black;
}
#myModalLabel {
  margin: auto;
}
.modal-content {
  padding-top: 0px;
  text-align: center;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}
.user-email {
  color: #787878;
  font-size: 1.4em;
  margin: auto 20px auto 0;
}
#map {
  height: 300px;
}
.picture-box {
  max-height: 565px;
  overflow-y: auto;
}
.image-resize {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
ul {
  list-style-type: none;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
  object-fit: cover;
}
.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}
.place-name, .place-addy, .place-disc, .place-email {
  margin-left: 20px;
  margin-right: 20px;
}
.place-name {
  margin-top: 10px;
}
.rating-placement {
  margin-left: 4px;
}
.places-spaces {
  margin: 5px 0px 5px 0px;
}
#footer {
  background: #b2b2b2;
}