<div class="container">
  <% @places.each do |place| %>
    <div class="booyah-box col-6 offset-3">
      <h1><%= place.name %></h1>
      <i><%= place.address %></i>
      <p><%= place.description %></p>
    </div>
  <% end %>
</div>